/*Background color*/

#background {
	background-color:#FFF0F5;
}

/*Header image*/

.img_responsive {
	height:200px;
	width: 600px;
}

/*Header*/
#title {
	font-family: 'Limelight', cursive;
}

/*Intructions*/
#instructions {
	font-family:'Abril Fatface', cursive;
	font-size: 18px;
}

/*Letters guessed*/
#lettersGuessedHeader, #lettersGuessed {
	font-family: 'Abril Fatface', cursive;
	font-size: 18px;
}
/*Guesses left*/
#guessesLeftHeader, #guessesLeft {
	font-family: 'Abril Fatface', cursive;
	font-size: 18px;
}

/*wins*/
#winsHeader, #wins {
	font-family: 'Abril Fatface', cursive;
	font-size: 18px;
}

/*losses*/
#lossesHeader, #losses {
	font-family: 'Abril Fatface', cursive;
	font-size: 18px;
}

/*Guessing Box*/
#guessingBox {
	border-width: medium;
	border-style: dotted solid;
}